<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.finalpro">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="Weather"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalPro">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".today" android:label="현재 날씨 액티비티"/>
        <activity android:name=".covid" android:label="금일 코로나 액티비티"/>
        <activity android:name=".air" android:label="금일 대기 오염도 액티비티"/>
        <activity android:name=".week" android:label="중기 예보 액티비티"/>
    </application>

</manifest>